<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Loom</title>
</head>
<body>
    <h1>Lead Loom</h1>
    {% if result %}
      <div class="alert alert-success text-center" role="alert">
        {{ result }}
      </div>
      {% endif %}
    <form
        method="post"
        action="/predict"
      >
        <div>
          <label for="url">Enter the url of the site</label>
          <input
            type="text"
            id="url"
            name="url"
            placeholder="Enter website url"
          />
        </div>
        <div>
          <label for="API">Enter your gemini API key</label>
          <input
            type="text"
            id="API"
            name="API"
            placeholder="gemini api key"
          />
        </div>
        <div>
            <button type="submit">
              SHOW RESULTS
            </button>
          </div>
        
      </form>
</body>
</html>